<article>
  {% set name = "BIP-353 DNS Payment Instruction" %}
  {% include "include/result-header.html" %}

  <h5>🌐 Resolving <code>{{ hrn.0 }}@{{ hrn.1 }}</code></h5>
  <p>
	Resolving <code>TXT</code> records of
	<code>
	  <abbr title="Username part">{{ hrn.0 }}</abbr>.user._bitcoin-payment.<abbr title="Domain part">{{ hrn.1 }}</abbr>
	</code>
  </p>

  <h5>📦 Payload</h5>
  <p>{{ result.bip21 | hex }}</p>

  <h5>☑️ Proof</h5>
  <details>
	<summary role="button" class="outline"> {{ result.proof | truncate(16) }} View full</summary>
	<p>{{ result.proof | hex }}</p>
  </details>

  <h5>📋 BIP-21 URI Scheme Details</h5>
  {% include "include/bip21-table.html" %}

</article>
