<article>
  {% set name = "BOLT-11 Invoice" %}
  {% set doc = "bolt11" %}
  {% include "include/result-header.html" %}

  <h5>🔎 Investigative Findings</h5>
  <p>
	{% match findings.recipient %}
	{% when RecipientNode::Custodial { custodian } %}
	Custodial {{ custodian.service }} <b>{{ custodian.name }}</b>
	{% when RecipientNode::NonCustodial { id, lsp } %}
	{% if lsp.service == ServiceKind::Spark %}
	Non-custodial <b>{{ lsp.name }}</b> wallet
	{% if !id.is_empty() %}
	with id <b>{{ id }}</b> <br>
    {{ self::sparkscan_link(id) }}
	{% endif %}
	{% else %}
	Non-custodial {{ lsp.service }} <b>{{ lsp.name }}</b> with id <b>{{ id }}</b>
	{% endif %}
	{% when RecipientNode::NonCustodialWrapped { lsp } %}
	Non-custodial {{ lsp.service }} <b>{{ lsp.name }}</b>
	{% when RecipientNode::Unknown %}
	Unknown
	{% endmatch %}
  </p>

  <h5>🗃️ Evidences</h5>
  <div>
	<p>
	  Pay to
	  {% if findings.payee.is_announced %}
	  public node <b>{{ self::explorer_link(findings.payee) }}</b>
	  {% else %}

	  private node <b>{{ findings.payee.pubkey | hex }}</b>

	  {% for route in findings.route_hints %}
	  <ol start="0">
		{% for hop in route %}
		<li>
		  via
		  {% if hop.is_announced %}
		  public node <b>{{ self::explorer_link(hop) }}</b>
		  {% else %}
		  private node <b>{{ hop.pubkey | hex }}</b>
		  {% endif %}
		</li>
		{% endfor %}
	  </ol>
	  {% endfor %}
	  {% endif %}
	</p>

	{% if let Some(botlz_mrh_pubkey) = findings.botlz_mrh_pubkey %}
	<p>
	  Boltz magic routing hint pubkey
	  {{ self::external_link("https://api.docs.boltz.exchange/magic-routing-hints.html#%F0%9F%AA%84-magic-routing-hints", "Boltz API doc") }}
	  : {{ botlz_mrh_pubkey | hex }}
	</p>
	{% endif %}
  </div>

  <h5>📋 Details</h5>
  <table>
	<tbody>
      <tr><th scope="row"> Network </th><td> {{ invoice.network | capitalize }} </td></tr>
      <tr><th scope="row"> Amount </th><td> {{ invoice.amount | or_empty }} </td></tr>
	  <tr>
		<th scope="row"> Description </th>
		<td>
		  {% match invoice.description %}
		  {% when Description::Direct with (description) %}
		  {{ description }}
		  {% when Description::Hash with (hash) %}
		  {{ hash | hex}} <br>
		  {{ self::mute("description hash was provided") }}
		  {% endmatch %}
		</td>
	  </tr>
      <tr><th scope="row"> Created at </th><td> {{ invoice.created_at }} </td></tr>
      <tr>
		<th scope="row"> Expiry time </th>
		<td>
		  {{ invoice.expiry }}
		  {% if invoice.has_expired %}
		  <mark data-tooltip="The invoice has already expired">expired</mark>
		  {% endif %}
		</td>
	  </tr>

      <tr><th scope="row"> Payment hash </th><td> {{ invoice.payment_hash | hex }} </td></tr>
      <tr><th scope="row"> Payment secret </th><td> {{ invoice.payment_secret | hex }} </td></tr>
      <tr>
		<th scope="row"> Payee pubkey </th>
		<td>
		  {{ invoice.payee_pub_key | hex }}
		  {% if invoice.payee_pub_key_recovered %}
		  <br>
		  {{ self::mute("the pubkey was recovered from the invoice signature") }}
		  {% endif %}
		</td>
	  </tr>
      <tr><th scope="row"> Payment metadata </th><td> {{ invoice.payment_metadata | or_empty_hex }} </td></tr>
	  <tr>
		<th scope="row"> Minimum final CLTV expiry </th>
		<td> {{ invoice.min_final_cltv_expiry_delta }} </td>
	  </tr>

	  {% for route in invoice.route_hints %}
	  <tr>
		<th scope="row">
		  Route #{{ loop.index0 }}
		</th>
		<td>
		  {% include "include/routing-hints.html" %}
		</td>
	  </tr>
	  {% endfor %}
	  {% if invoice.route_hints.is_empty() %}
	  <tr>
		<th scope="row"> Routes	</th>
		<td> {{ self::mute("none") }} </td>
	  </tr>
	  {% endif %}

	  <tr>
		<th scope="row"> Features </th>
		<td>
		  {{ invoice.features.hex | or_empty_hex }}
		  <div class="grid-like">
			{% for feature in invoice.features.features %}
			<span> {{ feature.0 }} </span>
			<span> {{ self::format_feature_flag(feature.1) }} </span>
			{% endfor %}
		  </div>
		</td>
	  </tr>

	  {% if !invoice.fallback_addresses.is_empty() %}
	  <tr>
		<th scope="row">
		  Fallbacks <mark>deprecated</mark> {{ self::doc("fallbacks") }}
		</th>
		<td>
		  {% for address in invoice.fallback_addresses %}
		  {{ address | hex }}<br>
		  {% endfor %}
		</td>
	  </tr>
	  {% endif %}

	</tbody>
  </table>
</article>
