<article>
  {% set name = "Lightning Address" %}
  {% include "include/result-header.html" %}

  <h5>🔄 Decoding</h5>
  <div align="center">
	<code>
	  <mark class="badge-supported">{{ username }}</mark>@<mark class="badge-required">{{ domain}}</mark>
	</code>
	<br>
	↓
	<br>
	<code>
	  {% if domain.ends_with(".onion") %}<em data-tooltip="HTTP for onion domains">http</em>{% else %}<em data-tooltip="HTTPS for clearnet domains">https</em>{% endif %}://<mark class="badge-required">{{ domain}}</mark>/.well-known/lnurlp/<mark class="badge-supported">{{ username }}</mark>
	</code>
  </div>
  <p></p>

  {% include "include/lnurl-details.html" %}
</article>
