{% match event %}
{% when OnionEvent::Resolving with (introduction_node) %}

<div>
  {{ index }}. Resolving node:
  {% match introduction_node %}
  {% when IntroductionNode::NodeId with (pubkey) %}
  <code> {{ pubkey }} </code>
  {% when IntroductionNode::LeftEnd with (channel) %}
  <b>Left</b> end of <code> {{ channel }} </code>
  {% when IntroductionNode::RightEnd with (channel) %}
  <b>Right</b> end of <code> {{ channel }} </code>
  {% endmatch %}
</div>

{% when OnionEvent::Resolved with (addresses) %}
<div>
  {{ index }}. Resolved to
  {% for address in addresses %}
  <code>{{ address }}</code>{% if !loop.last %}, {% endif %}
  {% endfor %}
</div>

{% when OnionEvent::Connecting with (node_id) %}
<div>{{ index }}. Connecting to <code>{{ node_id }}</code></div>

{% when OnionEvent::ConnectionError with (err) %}
<div>{{ index }}. Connection error <code>{{ err }}</code></div>

{% when OnionEvent::Connected %}
<div>{{ index }}. Connected</div>

{% when OnionEvent::WaitingForHandshake %}
<div>{{ index }}. Waiting for handshake</div>

{% when OnionEvent::Handshaked %}
<div>{{ index }}. Handshaked</div>

{% when OnionEvent::SendingOnion %}
<div>{{ index }}. Sending onion message</div>

{% when OnionEvent::OnionSent %}
<div>{{ index }}. Onion message sent</div>

{% when OnionEvent::ConnectionNeeded with (node_id) %}
<div>{{ index }}. Connection needed for <code>{{ node_id }}</code></div>

{% when OnionEvent::Result(Ok(invoice)) %}
<h5>🧾 Invoice</h5>
<div>
  {{ invoice | hex }}
  <br>
  {{ self::investigate_link(invoice) }}
</div>
<div id="request-progress" hx-swap-oob="delete"></div>

{% when OnionEvent::Result(Err(err)) %}
{% include "error.html" %}
<div id="request-progress" hx-swap-oob="delete"></div>
{% endmatch %}
