<table>
  <tbody>
	<tr>
	  <th scope="row"> On-chain address </th>
	  <td>
		{% match bip21.address %}
		{% when Some with (address) %}
		<mark class="badge-required">{{ address.address_type | or_empty }}</mark>
		{{ address.address | hex }}
		<br>
		{{ self::investigate_link(address.address) }}
		{% when None %}
		{{ self::mute("empty") }}
		{% endmatch %}
	  </td>
	</tr>

	{% for param in bip21.params %}
	<tr>
	  {% match param %}
	  {% when Bip21Param::Amount with (sats) %}
	  <th scope="row"> Amount </th> <td> {{ sats }} </td>

	  {% when Bip21Param::Label with (label) %}
	  <th scope="row"> Label </th> <td> {{ label }} </td>

	  {% when Bip21Param::Message with (message) %}
	  <th scope="row"> Message </th> <td> {{ message }} </td>

	  {% when Bip21Param::Lightning with (invoice) %}
	  <th scope="row"> BOLT-11 invoice </th>
	  <td> {{ invoice | hex }} <br> {{ self::investigate_link(invoice) }} </td>

	  {% when Bip21Param::Offer with (offer) %}
	  <th scope="row"> BOLT-12 offer </th>
	  <td> {{ offer | hex }} <br> {{ self::investigate_link(offer) }} </td>

	  {% when Bip21Param::SilentPayment with (sp) %}
	  <th scope="row"> Silent payment address </th>
	  <td> {{ sp | hex }} <br> {{ self::investigate_link(sp) }} </td>

	  {% when Bip21Param::PayjoinEndpoint with (endpoint) %}
	  <th scope="row"> Payjoin endpoint </th>
	  <td> {{ endpoint | hex }} </td>

	  {% when Bip21Param:: PayjoinDisallowOutputSubstitution %}
	  <th scope="row"> Payjoin </th>
	  <td> Disallow output substitution </td>

	  {% when Bip21Param::Unknown with (key, value) %}
	  <th scope="row"> {{ key }} </th>
	  <td> {{ value }} </td>

	  {% endmatch %}
	</tr>
	{% endfor %}

  </tbody>
</table>
