<h5>🌐 Resolving</h5>

{% for event in events %}
{% match event %}
{% when Event::Requesting with (method, url) %}
<div>{{ loop.index }}. Sending <code>{{ method }}</code> request to <code>{{ url }}</code></div>

{% when Event::ResponseReceived with (status) %}
<div>{{ loop.index }}. Response received with HTTP status <code>{{ status }}</code></div>

{% when Event::ResponseBodyReceived with (body) %}
<div>{{ loop.index }}. ... with body <code>{{ body }}</code></div>

{% when Event::JsonParsed with (json) %}
<div>{{ loop.index }}. Parsed as JSON <pre>{{ json | json_pretty }}</pre></div>

{% when Event::Result(Ok(response)) %}
<h5>📋 LNURL Pay Response Details</h5>
<table>
  <tbody>
	{% match response %}

	{% when LnUrlResponse::Pay with (pay) %}
	<tr><th scope="row"> Sendable amount </th><td> {{ pay.sendable_amount }} </td></tr>
	<tr><th scope="row"> Description </th><td> {{ pay.description }} </td></tr>
	<tr><th scope="row"> Long description </th><td> {{ pay.long_description | or_empty }} </td></tr>
	<tr><th scope="row"> Comment allowed </th><td> {{ pay.comment_allowed | or_empty }} </td></tr>
	<tr><th scope="row"> Callback </th><td> {{ pay.callback | hex }} </td></tr>
	{% if !pay.metadata.is_empty() %}
	<tr>
	  <th scope="row"> Metadata </th>
	  <td>
		<table>
		  <tbody>
			{% for (key, value) in pay.metadata %}
			<tr>
			  <th scope="row"> {{ key }} </th>
			  <td> {{ value }} </td>
			</tr>
			{% endfor %}
		  </tbody>
		</table>
	  </td>
	</tr>
	{% endif %}

	{% when _ %}
	TODO
	{% endmatch %}

  </tbody>
</table>

{% when Event::Result(Err(err)) %}
{% include "error.html" %}

{% endmatch %}
{% endfor %}
