<h5>🌐 Resolving</h5>

{% for event in events %}
{% match event %}
{% when JsonRpcEvent::Requesting with (method, url) %}
<div>{{ loop.index }}. Sending <code>{{ method }}</code> request to <code>{{ url }}</code></div>

{% when JsonRpcEvent::ResponseReceived with (status) %}
<div>{{ loop.index }}. Response received with HTTP status <code>{{ status }}</code></div>

{% when JsonRpcEvent::ResponseBodyReceived with (body) %}
<div>{{ loop.index }}. ... with body <code>{{ body }}</code></div>

{% when JsonRpcEvent::JsonParsed with (json) %}
<div>{{ loop.index }}. Parsed as JSON <pre>{{ json | json_pretty }}</pre></div>

{% when JsonRpcEvent::Result(Ok(response)) %}

{% match response %}
{% when LnUrlResponse::Pay with (pay) %}
<h5>📋 LNURL Pay Response Details {{ self::doc("lud06") }}</h5>
<table>
  <tbody>
	<tr><th scope="row"> Sendable amount </th><td> {{ pay.sendable_amount }} </td></tr>
	<tr><th scope="row"> Description </th><td> {{ pay.description }} </td></tr>
	<tr><th scope="row"> Long description </th><td> {{ pay.long_description | or_empty }} </td></tr>
	<tr><th scope="row"> Comment allowed </th><td> {{ pay.comment_allowed | or_empty }} </td></tr>
	<tr><th scope="row"> Callback </th><td> {{ pay.callback | hex }} </td></tr>
	{% if !pay.metadata.is_empty() %}
	<tr>
	  <th scope="row"> Metadata </th>
	  <td>
		<table>
		  <tbody>
			{% for (key, value) in pay.metadata %}
			<tr>
			  <th scope="row"> {{ key }} </th>
			  <td> {{ value }} </td>
			</tr>
			{% endfor %}
		  </tbody>
		</table>
	  </td>
	</tr>
	{% endif %}
  </tbody>
</table>

<details>
  <summary role="button" class="outline"> ⬆️ Request BOLT-11 Invoice </summary>
  <form
    hx-post="/api/lnurl-request-invoice"
    hx-target="#lnurl-result"
    hx-swap="innerHTML"
    novalidate
    data-lnurl-request-form>
	<input type="hidden" name="callback" value="{{ pay.callback }}" />
	<fieldset>
	  <label>
		Amount in millisats {{ pay.sendable_amount }}
		<input type="number" name="amount" value="{{ pay.sendable_amount.min().0 }}" />
	  </label>
	  <label>
		{% match pay.comment_allowed %}
		{% when Some(len) %}
		Comment (max {{ len }} characters)
		<input type="text" name="comment" />
		{% when None %}
		Comment not allowed
		<input type="text" name="comment" disabled />
		{% endmatch %}
	  </label>
	</fieldset>
	<button type="submit" id="htmxBtn">Request</button>
  </form>
</details>
<section id="lnurl-result" aria-live="polite"></section>

{% when LnUrlResponse::Withdraw with (withdraw) %}
<h5>📋 LNURL Withdraw Response Details {{ self::doc("lud03") }}</h5>
<table>
  <tbody>
	<tr><th scope="row"> Withdrawable amount </th><td> {{ withdraw.amount }} </td></tr>
	<tr><th scope="row"> Description </th><td> {{ withdraw.default_description }} </td></tr>
	<tr><th scope="row"> Callback </th><td> {{ withdraw.callback | hex }} </td></tr>
	<tr><th scope="row"> k1 </th><td> {{ withdraw.k1 | hex }} </td></tr>
  </tbody>
</table>
{% when _ %}
TODO
{% endmatch %}


{% when JsonRpcEvent::Result(Err(err)) %}
{% include "error.html" %}

{% endmatch %}
{% endfor %}
